// overwrite theme variables

// test theme
$primary: #ce1127;
$secondary: #ff5b00;
$dark: #1f1f1f;
$light: #fdd;
$success: #3ec70b;
$info: #555;
$warning: #ff0;
$danger: #f00;
$azul: #2f80ed;
$dark-blue: #151d48;
$steel: #737791;

@import "~bootstrap/scss/bootstrap.scss";
