@import "./custom";

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

.bg-navbar {
  background-color: $dark;
}

.link-navbar.navbar-nav .nav-link {
  font-weight: 500;
  color: rgba(255, 255, 255, 0.616);
  margin-left: 2rem;
  &:hover,
  &:active,
  &:focus {
    color: #fff;
  }
}
